/* General */
#content {
    padding : 0px !important;
}

html {
    scroll-behavior: smooth;
}

.web-section {
    padding: 4em 3em !important;
}

.no-pad-bot {
    padding-bottom: 0px !important;
}

.no-pad-up {
    padding-top: 0px !important;
}

.space--xs .container h2 {
    font-size: 40px;
    font-family: "Aileron";
    border-bottom: 1px solid #c1c1c1;
    margin-left: 20%;
    margin-right: 20%;
    color: #3e3e3e;
}

.heading-BMU {
    padding-bottom: 30px !important;
    padding-top: 3.71428571em !important;
}
/* navigation bar */

.navbar {
    z-index: 1000;
    max-height: 12vh !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.btn-info {
    background-color: #0575E6 !important;
}

.btn-info:hover {
    background-color: #021B79 !important;
}

.btn-navCollapse {
    margin-bottom: 0px !important;
}

.btn-sideBar {
    padding: 5px 20px !important;
    font-size: 15px !important;
}

.nav-iconCustom {
    font-size: 26px;
    margin-bottom: 0px;
    color: #555;
}

.nav-item {
    padding: 0px 8px !important;
}
#sidebar {
    z-index: 2000 !important;
}

#sidebar ul.components {
    border-bottom: 1px solid #fff !important;
    border-top: 1px solid #fff !important;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

.main-container {
    margin-top: 12vh;
}


/* Home banner */
.Home-logo {
    min-width: 150px;
    min-height: 150px;
    max-width: 220px;
    max-height: 220px;
    margin-bottom: 0px !important;
}

.Home-para1{
    font-size: 50px;
    color: #fff;
    font-weight: 300;
}
.Home-para2{
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px !important;
}
.Home-para3{
    text-align: center;
    color: #fff !important;
    font-weight: 600;
}
p.lead.Home-para1{
    margin-bottom: 0px !important;
}
.imageholder{
    height:90vh;
    background-image: url(../img/home-cover.jpg) !important;
    background-position: center;
    background-size: 100% 100%;
}
.blackdrop{
    position: absolute;
    width: 100%;
    height: 90vh;
    top: 12vh;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;   
    opacity: .25;
}

@media only screen and (max-width: 768px) {
    .Home-para1{
        font-size:36px ;
    }
    .Home-para2{
        font-size:20px ;
    }
    .Home-para3{
        font-size:18px;
    }
    .Home-reponsive{
        margin-top: 10vh;
    }

    .web-section {
        padding: 2em 1em !important;
    }
    
    #navbarSupportedContent {
        background: #f1f1f1;
        width: 100vw !important;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding-left: 10px;
    }


}



/* About HackBMU */
.content-title
{
    padding-top: 0px;
    text-align: left;
    font-size: 40px;
    font-family: "Aileron";
    border-bottom: 1px solid #c1c1c1;
    color: #3e3e3e;
    width: auto;
    margin-right: 1%;
}

.sub_heading
{
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin: 0 0 30px 0;
  padding-bottom: 10px;
  font-family: "Roboto Condensed",sens-serif;
}

#about-bg-diag
{
  width: 100%;
  height: 100%;
}

#about-bg-diag img{
    width: 300px;
    height: 350px;
    margin-top: 2%;
}


@media(max-width:767px)
{
  #about-bg-diag
  {
      padding: 0% 10% !important;
  }

  #About {
    padding-top: 0px !important;
  }

}




/* Past Sponsers */

.pastSponser_img img{
    width: 100%;
    height: 100%;
}
.pastSponser_bodycont{
    /*background: #F2F0E9;*/
    padding:50px 10vw;
    margin-bottom: 100px;
    padding-top: 0px;
}

.pastSponser_imgcont{
    width: 80vw;
    min-height: 110px;
}

.pastSponser_img {
    transition: transform .2s;
}


.pastSponser_img{
    padding: 20px;
    width: 15%;
    float: left;
    margin: 5px;
    border-radius: 10%;
    min-width: 80px;
    min-height: 62px;
}
.pastSponser_img:hover{
    box-shadow: 0px 0px 15px #d1ccca;
    transform: scale(1.01);
}

#PastSponsersHeading {
    padding-top: 2em !important;
    padding-bottom: 1em !important;
}

@media screen and (max-width: 719px) {
  .pastSponser_img {
    min-width:25vw;
  }

  .pastSponser_img:not(.pastSponser_hide) {
    display: none;
  }
  #pastSponser_BTN_hide{
    display: none;
  }
}

@media screen and (min-width: 719px) {
    .pastSponser_btn {
        display: none;
    }
}


/* Our Team */
.feature h5{
	font-size : 1.5em !important;
}
.feature:hover{
    cursor : pointer;
    box-shadow : 4px 4px 10px #888888;
    border-radius: 4%;
    transform: scale(1.03);
}

.feature {
    transition: transform .2s;
}

.feature-8 img{
    max-height: 9em !important
}

#OurTeam {
    padding-bottom:10px !important;
}

#Team {
    padding-bottom: 1em !important;
}

.feature:hover h5 {
    color: #0575E6 !important;
}


/* Gallery */
#carouselExampleIndicators {
    width: 65vw !important;
    display: inline-block;
}
#Gallery {
    text-align: center;
}
.gheading {
    text-align: center;
}

@media (max-width: 767px) {
    #carouselExampleIndicators {
        width: 80vw !important;
    }
    .content-title {
        font-size: 28px;
    }
    .space--xs .container h2 {
        font-size: 28px;
        margin-left: 25%;
        margin-right: 25%;
    }
    .heading-BMU {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
} 

.footer-5 {
    background: #fafafa !important;
    box-shadow: 0px -1px 10px rgba(0,0,0,0.1) ;
    padding-top:2.5em !important;
    padding-bottom: 2.5em !important;
}

.footer-5 .heading-block {
    margin-bottom: 2em;
}